@import "tailwindcss";

body {
    background-color: #171717;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-106% + 6.75rem));
    }
}